# -*- python -*-
# ex: set filetype=python:

import sys
import os
import re
import functools
sys.path.append(os.path.abspath("."))
sys.path.append(os.path.abspath("./secrets"))
sys.path.append(os.path.abspath("./configs"))

from buildbot.plugins import *
from datetime import timedelta

from factory_linux_build import *
from factory_generic import *
from factory_accelerometer import *
from factory_pmic import *
from factory_addac import *
from factory_clean_db import *

from projects import *
import test_config as config

####### FACTORIES

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

TEST_WORKER_NAME = "Test_Worker"
LINUX_WORKER_NAME = "Linux_Worker"

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
c['workers'] = [
    # worker.Worker("worker1", worker1pass, max_builds=1),
    worker.LocalWorker(TEST_WORKER_NAME, max_builds=5),
    worker.LocalWorker(LINUX_WORKER_NAME, max_builds=1),
]

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {
    'pb': {
        'port': 9989
    }
}

####### CHANGESOURCES
# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.

def make_gitpoller(project_name):
    project = projects[project_name]

    if "local" in project["kernel"]:
        return None

    return changes.GitPoller(
        project["kernel"]["remote"],
        project=project_name,
        workdir=f"gitpoller-workdir-{project["workdir"] if "workdir" in project else project_name}",
        branches=[project["kernel"]["branch"]],
        pollAtLaunch=True,
        buildPushesWithNoCommits=True,
        pollInterval=project["pollInterval"],
    )

c["change_source"] = [y for x in projects if (y := make_gitpoller(x))]

####### SCHEDULERS

# regex devnotes:
# ^Linux .*\d\.\d.?\.\d.*                           = Linux x.xx.xxxxxx

# ^Linux .*\d\.\d.*                                 = Linux x.xxx
# ^Linux .*6.67|6\.[6-9][8-9].*|[7-9]\.[0-9].*      = Linux 6.67 or bigger

# Configure the Schedulers, which decide how to react to incoming changes.
# ^Linux (5\\.15.*$|[6-9]\\.[0-9]|[6-9]\\.[0-9\\].*$){1,2}(-rc[1-9][0-9]?)?$i
#
# ^Linux (5\\.1[5-9].*$|5\\.[2-9].*$|[6-9]\\.[0-9].*$|[1-9][0-9]\\.[0-9].*$){1,2}(-rc[1-9][0-9]?)?$       #works

def change_commit_is_release(change):
    # if re.search('^Linux (5\\.15.*$|[6-9]\\.[0-9]){1,2}(-rc[1-9][0-9]?)?$', change.comments):
    if re.search('^Linux (5\\.1[5-9].*|5\\.[2-9].*|[6-9]\\.[0-9].*|[1-9][0-9]\\.[0-9].*)', change.comments):
        print("Matched commit for release: " + str(change.comments))
        return True

def change_commit_is_next(change):
    if re.search('^Add linux-next specific files for.*', change.comments):
        print("Matched commit for linux next release: " + str(change.comments))
        return True

def change_commit_is_rolling_stable(change):
    if re.search('^Merge v(5\\.1[5-9].*|5\\.[2-9].*|[6-9]\\.[0-9].*|[1-9][0-9]\\.[0-9].*)', change.comments):
        print("Matched commit for release: " + str(change.comments))
        return True

def _make_scheduler(project_name):
    project = projects[project_name]

    return schedulers.SingleBranchScheduler(
        name=project["schedulerName"],
	    change_filter=util.ChangeFilter(
            project=project_name,
            branch=project["kernel"]["branch"]
        ),
        treeStableTimer=project["pollCooldown"],
	    builderNames=project["builderNames"],
    )

def _make_release_scheduler(project_name):
    project = projects[project_name]

    return schedulers.SingleBranchScheduler(
        name=project["schedulerName"],
        fileIsImportant=change_commit_is_release,
	    change_filter=util.ChangeFilter(
            project=project_name,
            branch=project["kernel"]["branch"]
        ),
        treeStableTimer=project["pollCooldown"],
	    builderNames=project["builderNames"],
    )

def _make_next_scheduler(project_name):
    project = projects[project_name]

    return schedulers.SingleBranchScheduler(
        name=project["schedulerName"],
        fileIsImportant=change_commit_is_next,
	    change_filter=util.ChangeFilter(
            project=project_name,
            branch=project["kernel"]["branch"]
        ),
        treeStableTimer=project["pollCooldown"],
	    builderNames=project["builderNames"],
    )

def _make_stable_scheduler(project, branch):
    project = projects[project_name]

    return schedulers.SingleBranchScheduler(
        name=f"{project["schedulerName"]}_{branch}",
        fileIsImportant=change_commit_is_release,
	    change_filter=util.ChangeFilter(
            branch=branch.replace("_", "."),
        ),
        treeStableTimer=project["pollCooldown"],
	    builderNames=project["builderNames"],
    )

def _make_rolling_stable_scheduler(project_name, branch):
    project = projects[project_name]

    return schedulers.SingleBranchScheduler(
        name=f"{project["schedulerName"]}_{branch}",
        fileIsImportant=change_commit_is_rolling_stable,
	    change_filter=util.ChangeFilter(
            branch=branch.replace("_", "."),
        ),
        treeStableTimer=project["pollCooldown"],
	    builderNames=project["builderNames"],
    )

def _make_git_bisect_scheduler(project_name):
    project = projects[project_name]

    return schedulers.Triggerable(
        name=f"git_bisect_{project["schedulerName"]}",
        builderNames=project["builderNames"],
        priority=10,
    )

# def _make_git_bisect_scheduler_stable(project_name, branch):
#     project = projects[project_name]
#
#     return schedulers.Triggerable(
#         name=f"git_bisect_{project["schedulerName"]}_{branch}",
#         builderNames=[f"project["builderNames"][0]_{branch}]",
#         priority=10,
#     )

####### LINUX SCHEDULERS; triggered from Git changes

def make_schedulers(project_name):
    project = projects[project_name]
    ret = []

    match project["schedulerType"]:
        case "default":
            ret.append(_make_scheduler(project_name))
        case "release":
            ret.append(_make_release_scheduler(project_name))
        case "next":
            ret.append(_make_next_scheduler(project_name))
        case "stable":
            ret.append(_make_stable_scheduler(project_name, project["kernel"]["branch"]))
        case "rolling_stable":
            ret.append(_make_rolling_stable_scheduler(project_name, project["kernel"]["branch"]))

    _make_git_bisect_scheduler(project_name)
    return ret

c["schedulers"] = []

for project_name in projects:
    c["schedulers"] += make_schedulers(project_name)

####### FACTORY SCHEDULERS; triggered from Linux builds

def make_generic_scheduler():
    return schedulers.Triggerable(
        name="scheduler-generic_tests",
        builderNames=["Generic_tests"],
        priority=5,
    )

def make_accelerometer_scheduler():
    return schedulers.Triggerable(
        name='scheduler-accelerometer_tests',
        builderNames=['Accelerometer_tests'],
        priority=5,
    )

def make_pmic_scheduler():
    return schedulers.Triggerable(
        name='scheduler-pmic_tests',
        builderNames=['PMIC_tests'],
        priority=5,
    )

def make_addac_scheduler():
    return schedulers.Triggerable(
        name='scheduler-addac_tests',
        builderNames=['ADDAC_tests'],
        priority=5,
    )

c["schedulers"].append(make_generic_scheduler())
c["schedulers"].append(make_pmic_scheduler())
c["schedulers"].append(make_accelerometer_scheduler())
c["schedulers"].append(make_addac_scheduler())

####### DATABASE CLEANER SCHEDULER

c["schedulers"].append(
    schedulers.Nightly(
        name="clean_db_nightly",
        builderNames=["Clean_database"],
        priority=1,
        dayOfWeek=0,
        hour=23,
    )
)

###### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

def make_builder(project_name):
    project = projects[project_name]

    return util.BuilderConfig(
        name=project["builderNames"][0],
        workernames=project["workerNames"],
        factory=project["factory"],
    )

c["builders"] = [make_builder(x) for x in projects]

####### FACTORY BUILDERS

def make_generic_builder():
    return util.BuilderConfig(
        name="Generic_tests",
        workernames=TEST_WORKER_NAME,
        factory=factory_generic_test,
    )

def make_accelerometer_builder():
    return util.BuilderConfig(
        name="Accelerometer_tests",
        workernames=TEST_WORKER_NAME,
        factory=factory_accelerometer_test
    )

def make_pmic_builder():
    return util.BuilderConfig(
        name="PMIC_tests",
        workernames=TEST_WORKER_NAME,
        factory=factory_pmic_test
    )

def make_addac_builder():
    return util.BuilderConfig(
        name="ADDAC_tests",
        workernames=TEST_WORKER_NAME,
        factory=factory_addac_test
    )

c['builders'].append(make_generic_builder())
c['builders'].append(make_pmic_builder())
c['builders'].append(make_accelerometer_builder())
c['builders'].append(make_addac_builder())

clean_db_builder = util.BuilderConfig(
        name="Clean_database",
        workernames="Linux_Worker",
        factory=factory_clean_db
    )

c['builders'].append(clean_db_builder)

####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "ROHM Testing"
c['titleURL'] = "https://buildbot.github.io/hello-world/"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = config.URLS["localhost"] if config.ENABLE_LOCALHOST else config.URLS["default"]

# minimalistic config to activate new web UI
c['www'] = dict(port=8010,
                plugins=dict(waterfall_view={}, console_view={}, grid_view={}))

# configure a janitor which will delete all logs older than one month,
# and will run on sundays at noon
c['configurators'] = [util.JanitorConfigurator(
    logHorizon=timedelta(weeks=4),
    hour=12,
    dayOfWeek=6
)]

generator1 = reporters.BuildStatusGenerator(mode=('failing', 'problem', 'warnings', 'exception','cancelled',))
generator2 = reporters.WorkerMissingGenerator()

# mn = reporters.MailNotifier(fromaddr='drivertesting.buildbot@joojoo.com',
#                             sendToInterestedUsers=False,
#                             # relayhost='localhost',
#                             extraRecipients=['drivertesting.buildbot@gmail.com'],
#                             generators=[generator1, generator2])
# c['services'].append(mn)

### IRCBOT
if config.ENABLE_IRC_REPORT:
    irc = reporters.IRC("irc.libera.chat", "LDTreporter",
                     useColors=False,
                     channels=[{"channel": "##mvaittin"}],
                     notify_events=[
                        # 'exception',
                        # 'problem',
                        # 'recovery',
                        # 'worker'
                        'success',
                        'failure'
                     ])
    c['services'].append(irc)

####### DB URL
c['db'] = {
    # This specifies what database buildbot uses to store its state.
    # It's easy to start with sqlite, but it's recommended to switch to a dedicated
    # database, such as PostgreSQL or MySQL, for use in production environments.
    # http://docs.buildbot.net/current/manual/configuration/global.html#database-specification
    'db_url' : "sqlite:///state.sqlite",
}
